@media (min-width: 768px) and (max-width: 1440px) {
    #cart-history-area {
        padding: 100px 0;
        height: auto;
    }
}

@media (min-width: 375px) and (max-width: 767.98px) {
    #cart-history-area {
        padding: 70px 0;
        height: auto;
    }

    .min-add-button {
        margin: inherit;
        margin-top: 20px;
        width: 135px;
    }

    .product-price {
        margin-top: 25px;
    }

    .product-remove {
        margin-top: 25px;
    }

    .product-box-bg {
        padding: 40px 40px;
    }
}